*{
    box-sizing: border-box;
}
body{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.header{
    width: 100%;
    border-bottom:  0.5rem solid black;
}
.container{
    width: 768px;
    margin: 5px auto 0px auto;
    display: flex;
    justify-content: space-between;
    
}
.nav{
    text-align: right;
    
}
.frame{
    width: 100%; 
    margin: 2rem auto 2rem auto;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    border:  0.5rem solid black;
    box-shadow: -5px 10px #eee;
}
.loginFrame{
    max-width: 600px; 
}
.side_by_side{
    flex-grow: 1;
    display: inline-block; 
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    border:  0.2rem solid black;
}
.top{
    flex-flow: row wrap;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-flow: row;
}
.row>*{
    flex-grow: 1;
    display: inline-block;
    max-width: 50%;
}
.col{
    display: flex;
    flex-flow: column;
}
.oneclick-login, .local-login>form{
    display: flex;
    flex-flow: column;
    margin: 0.2rem
}
h2{
    display: block;
    margin: 0rem auto 1rem auto;
}



